.idea
credentials_of_aws.txt
.wttd
*.sqlite3
.ropeproject/
staticfiles/
.ipynb_checkpoints/
.coverage
htmlcov/
ativaven.sh
*.pyc
eventex/__pycache__/
eventex/core/__pycache__/
eventex/subscriptions/__pycache__/
.env
pre-requeriments.txt
/accessKeys.csv
accessKeys.csv
eventex/core/migrations/__pycache__/
eventex/core/tests/__pycache__/
eventex/subscriptions/migrations/__pycache__/
eventex/subscriptions/tests/__pycache__/
wttd.sublime-project
wttd.sublime-workspace
