language: python
python:
- 3.6.4
services: postgresql
addons:
  postgresql: '9.6'
before_script:
- psql -c "CREATE DATABASE travisci;" -U postgres
- python manage.py migrate --noinput
- python manage.py collectstatic --noinput --no-post-process
env:
- DATABASE_URL=postgres://postgres@localhost/travisci
install:
- cp contrib/env-sample .env
- pip install -q -r requirements-dev.txt
script:
- flake8 .
- coverage run --source=eventex manage.py test -v 3
after_success:
- codecov
wttd-notifications:
  slack:
    secure: S+okmo6ErarKkuvrq726sAS9RSaCrSDNrgZFim1gzUQBIOk1xzcNWP/J5pFtl4aL1D7EGT5zl7iiMRRyro2SNDOpDDNdN3RQHXKpHQIZA7bEAUEhxoH5TnCI36ZD18Bc77m27k7JTzuERZ5A4tWJZ3kPrKuZHNUzX1OT+VJRUOud3/VcbWvJRxxJcFMQL1REcA9Mjnj1FqlLKUV1XQWvMhgB5dJKj1hxZNO8LNLQna1Q8yBg1Hp2xtzgOJvvUolSFQvl5J3SGTCF4AUx8vfftj1cvk1hgj8ux/Uz7U2MsucC8T4lUDo+nJKHF5c1PtAa5T/JfSVo6fx3PFGMjpkhNX4yyQG1evx2/4o8fyWKxfr2NoO9+5aDZiFs+MzXDBBzUTyTaQgOANbGhakBusWtqMCC4mCIIb4xSDwq2nrcxDh0h+Pnt/iZ8z6W14D+EMt8RsW8kuTAW/x499AWoenMeyT6YjQXqphaDMH077nnkqcUz70RnDhRRn+MOrP53bD3lykm4MWrJz2arn8ykfmnSv9TEVOB/rj41YALrb1yk/9A6P70JI/jIkVxAPAyxte17SBuRLIvwgPHQrGvZxEKeH2w9IaqRZI8cuGI7LdP6Pu/JLGwqHz9MmcebY1T7z74dbcr34NFSc4nPV17RPvNPuURtfjlZNwGOhNF0bYeiL0=
