language: python
python:
  - "3.6.1"
install:
  - cp contrib/env-sample .env
  - pip install -q -r requirements-dev.txt
script:
  - coverage run --source=eventex manage.py test -v 3
after_success:
  - coveralls
addons:
  code_climate:
    repo_token: 35fd1132d28ff197b68fc25dbc29376288d28ba568027eb4ff6bd0b0574ab76b


