[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"django-s3-folder-storage" = "*"
"psycopg2" = "*"
Collectfast = "*"
dj-database-url = "*"
dj-static = "*"
Django = "*"
django-extensions = "*"
django-storages="*"
django-test-without-migrations = "*"
gunicorn = "*"
python-dateutil = "*"
python-decouple = "*"
raven = "*"

[dev-packages]
"flake8" = "*"
codacy-coverage = "*"
codecov = "*"
coveralls = "*"
django-rainbowtests = "*"
rollbar = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-sugar = "*"

[requires]
python_version = "3.7"
