[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "*"
"boto3" = "*"
"django-s3-folder-storage" = "*"
django-storages = "*"
docutils = "*"
jmespath = "*"
python-dateutil = "*"
"s3transfer" = "*"
six = "*"
certifi = "*"
chardet = "*"
dj-database-url = "*"
dj-static = "*"
django-extensions = "*"
django-test-without-migrations = "*"
docopt = "*"
gunicorn = "*"
idna = "*"
mccabe = "*"
"psycopg2" = "*"
python-decouple = "*"
pytz = "*"
raven = "*"
requests = "*"
"static3" = "*"
"urllib3" = "*"
Collectfast = "*"
Django = "*"

[dev-packages]
codacy-coverage = "*"
codecov = "*"
coverage = "*"
coveralls = "*"
"flake8" = "*"
pyflakes = "*"
pycodestyle = "*"
rollbar = "*"
django-rainbowtests = "*"

[requires]
python_version = "3.7"
