certifi==2018.1.18
chardet==3.0.4
dj-database-url==0.4.2
dj-static==0.0.6
django-extensions==2.0.0
Django==1.11.10
django-test-without-migrations==0.6
docopt==0.6.2
gunicorn==19.7.1
idna==2.6
mccabe==0.6.1
psycopg2==2.7.4
python-decouple==3.1
pytz==2018.3
raven==6.6.0
requests==2.18.4
static3==0.7.0
urllib3==1.22
-r requirements-aws.txt

